<div class="sidebar sticky-top">
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <h5><span>Support Me</span></h5>
        <!-- Wie Sagt Man Auf -->
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7117260266546239"
            crossorigin="anonymous"></script>
        <!-- Right side bar -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7117260266546239"
            data-ad-slot="2364052615" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!-- <img src="{{site.baseurl}}/assets/images/ad.png"> -->
    </div>
</div>
